<img class="footer-logo" src="/assets/images/logo-image-color-transp.png" alt="Illustration of an outline of a body with the stem of an illustrated rose representing the spine.">
<footer class="footer">
    <div class="footer-inner">
        <address>101 W Edison Ave Ste 110<br>Appleton, WI 54915</address>
        <p><a href="tel:+1-920-234-6523">(920)-234-6523</a></p>
        <p><a href="mailto:contact@lindsayraellc.com">Contact@LindsayRaeLLC.com</a></p>
        <p>&copy; 2019 Lindsay Rae, LLC.</p>
        <p>Licensed in Wisconsin: 15034-146</p>
    </div>
</footer>

<script src="/assets/js/script.js"></script>